---
import Badge from "../components/Badge.astro";
import GithubIcon from "../components/icons/github-icon.astro";
import LinkedinIcon from "../components/icons/linkedin-icon.astro";
import AcademyCyberIcon from "../components/icons/academy_cyber-icon.astro";
import CiscoBadgeIcon from "../components/icons/badge_creddly-icon.astro";
import HMIcon from "../components/icons/badge_HM-icon.astro";
import LpiIcon from "../components/icons/lpi-icon.astro";
import TryHackMeIcon from '../components/icons/tryhackme-icon.astro'
import {
  GITHUB_URL,
  LINKEDIN_URL,
  PUCE_URL,
  BADGE_CISCO_URL,
  ACAD_CIBER_BADGE_URL,
  ACAD_HM_BADGE_URL,
  LPI01_CERT_URL,
  TRYHACK_PROFILE_URL,
} from "../constants/urls.ts";
import TryhackmeIcon from "../components/icons/tryhackme-icon.astro";
---

<section>
  <header>
    <div class="header-content">
    <p class="logo-header">
      ⚓ Mendoza 🫡 <span>.</span>
    </p>
    <div class="social-icons">
      <Badge>Listo para trabajar</Badge>
      <a target="_blank" href={LINKEDIN_URL} class="icon">
        <LinkedinIcon height={42} width={42} />
      </a>
      <a target="_blank" href={GITHUB_URL} class="icon">
        <GithubIcon height={40} width={40} />
      </a>
      <a target="_blank" href={TRYHACK_PROFILE_URL} class="icon">
        <TryhackmeIcon height={45} width={45} />
      </a>
      <a target="_blank" href={ACAD_CIBER_BADGE_URL} class="icon">
        <AcademyCyberIcon height={38} width={38} />
      </a>
      <a target="_blank" href={BADGE_CISCO_URL} class="icon">
        <CiscoBadgeIcon height={40} width={40} />
      </a>
      <a target="_blank" href={ACAD_HM_BADGE_URL} class="icon">
        <HMIcon height={40} width={40} />
      </a>
      <a target="_blank" href={LPI01_CERT_URL} class="icon">
        <LpiIcon height={33} width={33} />
      </a>
    </div>
  </header>
</section>

<style>
  section {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    width: 100%;
  }
  header {
    position: fixed;
    z-index: 999;
    padding: 40px 16px;
    height: 80px;
    width: 80%;
    border: 0.5px solid var(--border-color-nav);
    border-radius: 40px;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .header-content {
    width: 100%; /* Ajuste el ancho del contenido del encabezado */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header p.logo-header {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 52px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
  }

  header p.logo-header span {
    color: #ff0000;
    display: flex;
    align-items: center;
  }

  header .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  header .social-icons a {
    text-decoration: none;
    transition: 0.4s;
    color: var(--secondary-color);
    font-size: 16px;
    display: flex;
    align-items: center;
  }

  header .social-icons a:hover {
    color: var(--primary-color);
  }
  @media (max-width: 768px) {
    header {
      padding: 2%;
      width: 100%;
      text-align: center;
    }
    header .logo-header {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto; /* Añade margen automático para centrar verticalmente */
    }


    header .social-icons {
      display: none; /* Oculta los íconos en dispositivos móviles */
    }
  }
  @media (max-width: 900px) {
    header p.logo-header {
      font-size: 46px;
    }
  }

  @media (max-width: 480px) {
    header p.logo-header {
      font-size: 36px;
    }
  }
</style>
